<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newboot.shop.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="com.newboot.shop.model.Comment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user" jdbcType="VARCHAR" property="user"/>
        <result column="sku" jdbcType="INTEGER" property="sku"/>
        <result column="spu" jdbcType="INTEGER" property="spu"/>
        <result column="rateValue" jdbcType="DECIMAL" property="rateValue"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.newboot.shop.model.Comment">
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, user, sku, spu, rateValue, createTime
    </sql>
    <sql id="Blob_Column_List">
        comment
    </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.newboot.shop.model.CommentExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from comment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.newboot.shop.model.CommentExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from comment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from comment
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from comment
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.newboot.shop.model.CommentExample">
        delete from comment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.newboot.shop.model.Comment">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into comment (user, sku, spu,
        rateValue, createTime, comment
        )
        values (#{user,jdbcType=VARCHAR}, #{sku,jdbcType=INTEGER}, #{spu,jdbcType=INTEGER},
        #{rateValue,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{comment,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertSelective">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user != null">
                user,
            </if>
            <if test="sku != null">
                sku,
            </if>
            <if test="spu != null">
                spu,
            </if>
            <if test="rateValue != null">
                rateValue,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="comment != null">
                comment,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="user != null">
                #{user,jdbcType=VARCHAR},
            </if>
            <if test="sku != null">
                #{sku,jdbcType=INTEGER},
            </if>
            <if test="spu != null">
                #{spu,jdbcType=INTEGER},
            </if>
            <if test="rateValue != null">
                #{rateValue,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.newboot.shop.model.CommentExample" resultType="java.lang.Long">
        select count(*) from comment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update comment
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.user != null">
                user = #{record.user,jdbcType=VARCHAR},
            </if>
            <if test="record.sku != null">
                sku = #{record.sku,jdbcType=INTEGER},
            </if>
            <if test="record.spu != null">
                spu = #{record.spu,jdbcType=INTEGER},
            </if>
            <if test="record.rateValue != null">
                rateValue = #{record.rateValue,jdbcType=DECIMAL},
            </if>
            <if test="record.createTime != null">
                createTime = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.comment != null">
                comment = #{record.comment,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update comment
        set id = #{record.id,jdbcType=INTEGER},
        user = #{record.user,jdbcType=VARCHAR},
        sku = #{record.sku,jdbcType=INTEGER},
        spu = #{record.spu,jdbcType=INTEGER},
        rateValue = #{record.rateValue,jdbcType=DECIMAL},
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
        comment = #{record.comment,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update comment
        set id = #{record.id,jdbcType=INTEGER},
        user = #{record.user,jdbcType=VARCHAR},
        sku = #{record.sku,jdbcType=INTEGER},
        spu = #{record.spu,jdbcType=INTEGER},
        rateValue = #{record.rateValue,jdbcType=DECIMAL},
        createTime = #{record.createTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.newboot.shop.model.Comment">
        update comment
        <set>
            <if test="user != null">
                user = #{user,jdbcType=VARCHAR},
            </if>
            <if test="sku != null">
                sku = #{sku,jdbcType=INTEGER},
            </if>
            <if test="spu != null">
                spu = #{spu,jdbcType=INTEGER},
            </if>
            <if test="rateValue != null">
                rateValue = #{rateValue,jdbcType=DECIMAL},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.newboot.shop.model.Comment">
        update comment
        set user = #{user,jdbcType=VARCHAR},
        sku = #{sku,jdbcType=INTEGER},
        spu = #{spu,jdbcType=INTEGER},
        rateValue = #{rateValue,jdbcType=DECIMAL},
        createTime = #{createTime,jdbcType=TIMESTAMP},
        comment = #{comment,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.newboot.shop.model.Comment">
        update comment
        set user = #{user,jdbcType=VARCHAR},
        sku = #{sku,jdbcType=INTEGER},
        spu = #{spu,jdbcType=INTEGER},
        rateValue = #{rateValue,jdbcType=DECIMAL},
        createTime = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getComment" resultType="com.newboot.shop.model.Comment">
        select * from comment where spu=#{spu} order by createTime desc
    </select>
</mapper>