<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newboot.shop.admin.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.newboot.shop.admin.model.User">
        <id column="user" jdbcType="VARCHAR" property="user"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickName" jdbcType="VARCHAR" property="nickName"/>
        <result column="headPic" jdbcType="VARCHAR" property="headPic"/>
        <result column="regTime" jdbcType="TIMESTAMP" property="regTime"/>
        <result column="currentTime" jdbcType="TIMESTAMP" property="currentTime"/>
        <result column="lastTime" jdbcType="TIMESTAMP" property="lastTime"/>
        <result column="viewCount" jdbcType="INTEGER" property="viewCount"/>
        <result column="online" jdbcType="TINYINT" property="online"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        user, password, nickName, headPic, regTime, currentTime, lastTime, viewCount, online
    </sql>
    <select id="selectByExample" parameterType="com.newboot.shop.admin.model.UserExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where user = #{user,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from user
        where user = #{user,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.newboot.shop.admin.model.UserExample">
        delete from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.newboot.shop.admin.model.User">
        insert into user (user, password, nickName,
        headPic, regTime, currentTime,
        lastTime, viewCount, online
        )
        values (#{user,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR},
        #{headPic,jdbcType=VARCHAR}, #{regTime,jdbcType=TIMESTAMP}, #{currentTime,jdbcType=TIMESTAMP},
        #{lastTime,jdbcType=TIMESTAMP}, #{viewCount,jdbcType=INTEGER}, #{online,jdbcType=TINYINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.newboot.shop.admin.model.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user != null">
                user,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="nickName != null">
                nickName,
            </if>
            <if test="headPic != null">
                headPic,
            </if>
            <if test="regTime != null">
                regTime,
            </if>
            <if test="currentTime != null">
                currentTime,
            </if>
            <if test="lastTime != null">
                lastTime,
            </if>
            <if test="viewCount != null">
                viewCount,
            </if>
            <if test="online != null">
                online,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="user != null">
                #{user,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="headPic != null">
                #{headPic,jdbcType=VARCHAR},
            </if>
            <if test="regTime != null">
                #{regTime,jdbcType=TIMESTAMP},
            </if>
            <if test="currentTime != null">
                #{currentTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastTime != null">
                #{lastTime,jdbcType=TIMESTAMP},
            </if>
            <if test="viewCount != null">
                #{viewCount,jdbcType=INTEGER},
            </if>
            <if test="online != null">
                #{online,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.newboot.shop.admin.model.UserExample" resultType="java.lang.Long">
        select count(*) from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update user
        <set>
            <if test="record.user != null">
                user = #{record.user,jdbcType=VARCHAR},
            </if>
            <if test="record.password != null">
                password = #{record.password,jdbcType=VARCHAR},
            </if>
            <if test="record.nickName != null">
                nickName = #{record.nickName,jdbcType=VARCHAR},
            </if>
            <if test="record.headPic != null">
                headPic = #{record.headPic,jdbcType=VARCHAR},
            </if>
            <if test="record.regTime != null">
                regTime = #{record.regTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.currentTime != null">
                currentTime = #{record.currentTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.lastTime != null">
                lastTime = #{record.lastTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.viewCount != null">
                viewCount = #{record.viewCount,jdbcType=INTEGER},
            </if>
            <if test="record.online != null">
                online = #{record.online,jdbcType=TINYINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update user
        set user = #{record.user,jdbcType=VARCHAR},
        password = #{record.password,jdbcType=VARCHAR},
        nickName = #{record.nickName,jdbcType=VARCHAR},
        headPic = #{record.headPic,jdbcType=VARCHAR},
        regTime = #{record.regTime,jdbcType=TIMESTAMP},
        currentTime = #{record.currentTime,jdbcType=TIMESTAMP},
        lastTime = #{record.lastTime,jdbcType=TIMESTAMP},
        viewCount = #{record.viewCount,jdbcType=INTEGER},
        online = #{record.online,jdbcType=TINYINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.newboot.shop.admin.model.User">
        update user
        <set>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nickName = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="headPic != null">
                headPic = #{headPic,jdbcType=VARCHAR},
            </if>
            <if test="regTime != null">
                regTime = #{regTime,jdbcType=TIMESTAMP},
            </if>
            <if test="currentTime != null">
                currentTime = #{currentTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastTime != null">
                lastTime = #{lastTime,jdbcType=TIMESTAMP},
            </if>
            <if test="viewCount != null">
                viewCount = #{viewCount,jdbcType=INTEGER},
            </if>
            <if test="online != null">
                online = #{online,jdbcType=TINYINT},
            </if>
        </set>
        where user = #{user,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.newboot.shop.admin.model.User">
        update user
        set password = #{password,jdbcType=VARCHAR},
        nickName = #{nickName,jdbcType=VARCHAR},
        headPic = #{headPic,jdbcType=VARCHAR},
        regTime = #{regTime,jdbcType=TIMESTAMP},
        currentTime = #{currentTime,jdbcType=TIMESTAMP},
        lastTime = #{lastTime,jdbcType=TIMESTAMP},
        viewCount = #{viewCount,jdbcType=INTEGER},
        online = #{online,jdbcType=TINYINT}
        where user = #{user,jdbcType=VARCHAR}
    </update>
    <select id="getList" resultType="com.alibaba.fastjson.JSONObject">
        select user, nickName, regTime, lastTime, online, viewCount, ipRegion from user
        <where>
            <if test='value!=0 and value!=""'>
                and DATE_SUB(CURDATE(), INTERVAL #{value} DAY) &lt;= regTime
            </if>
        </where>
        order by lastTime desc
    </select>
    <update id="offline">
        update user set lastTime=currentTime, online=0 where user=#{user}
    </update>
</mapper>