<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newboot.shop.dao.GoodsvalueMapper">
  <resultMap id="BaseResultMap" type="com.newboot.shop.model.Goodsvalue">
    <id column="spID" jdbcType="INTEGER" property="spid" />
    <result column="goodsID" jdbcType="INTEGER" property="goodsid" />
    <result column="valueID" jdbcType="INTEGER" property="valueid" />
    <result column="parameterID" jdbcType="INTEGER" property="parameterid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    spID, goodsID, valueID, parameterID
  </sql>
  <select id="selectByExample" parameterType="com.newboot.shop.model.GoodsvalueExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goodsvalue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goodsvalue
    where spID = #{spid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goodsvalue
    where spID = #{spid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.newboot.shop.model.GoodsvalueExample">
    delete from goodsvalue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.newboot.shop.model.Goodsvalue">
    insert into goodsvalue (spID, goodsID, valueID, 
      parameterID)
    values (#{spid,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER}, #{valueid,jdbcType=INTEGER}, 
      #{parameterid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.newboot.shop.model.Goodsvalue">
    insert into goodsvalue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spid != null">
        spID,
      </if>
      <if test="goodsid != null">
        goodsID,
      </if>
      <if test="valueid != null">
        valueID,
      </if>
      <if test="parameterid != null">
        parameterID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spid != null">
        #{spid,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null">
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="valueid != null">
        #{valueid,jdbcType=INTEGER},
      </if>
      <if test="parameterid != null">
        #{parameterid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.newboot.shop.model.GoodsvalueExample" resultType="java.lang.Long">
    select count(*) from goodsvalue
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update goodsvalue
    <set>
      <if test="row.spid != null">
        spID = #{row.spid,jdbcType=INTEGER},
      </if>
      <if test="row.goodsid != null">
        goodsID = #{row.goodsid,jdbcType=INTEGER},
      </if>
      <if test="row.valueid != null">
        valueID = #{row.valueid,jdbcType=INTEGER},
      </if>
      <if test="row.parameterid != null">
        parameterID = #{row.parameterid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update goodsvalue
    set spID = #{row.spid,jdbcType=INTEGER},
      goodsID = #{row.goodsid,jdbcType=INTEGER},
      valueID = #{row.valueid,jdbcType=INTEGER},
      parameterID = #{row.parameterid,jdbcType=INTEGER}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.newboot.shop.model.Goodsvalue">
    update goodsvalue
    <set>
      <if test="goodsid != null">
        goodsID = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="valueid != null">
        valueID = #{valueid,jdbcType=INTEGER},
      </if>
      <if test="parameterid != null">
        parameterID = #{parameterid,jdbcType=INTEGER},
      </if>
    </set>
    where spID = #{spid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newboot.shop.model.Goodsvalue">
    update goodsvalue
    set goodsID = #{goodsid,jdbcType=INTEGER},
      valueID = #{valueid,jdbcType=INTEGER},
      parameterID = #{parameterid,jdbcType=INTEGER}
    where spID = #{spid,jdbcType=INTEGER}
  </update>
</mapper>